
    /*--primary: #F5F0F6;*/
    /*--secondary: #2B4162;*/


body {
    margin: 0;
    font-family: Montserrat, sans-serif;
    background-color: #F5F0F6;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #F5F0F6;
}

nav {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 10;
}

.hero-content {
    position: relative;
    z-index: 10;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.hero-content h1 {
    font-size: 3rem;
    margin: 0;
}

.hero-content p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.cta-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 30px;
    background: #2B4162;
    color: #F5F0F6;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s ease;
}

.cta-btn:hover {
    opacity: 0.85;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}