
    /*--primary: #F5F0F6;*/
    /*--secondary: #2B4162;*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

/*nav {*/
/*    height: 3.5rem;*/
/*    display: flex;*/
/*    text-decoration: none;*/
/*}*/

/*nav h1 {*/
/*    color: #F5F0F6;*/
/*    font-size: 1rem;*/
/*    padding-left: 1rem;*/
/*    padding-top: 1rem;*/
/*}*/

/*nav ul {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    margin-left: auto;*/
/*    padding-right: 1rem;*/
/*    padding-top: 1rem;*/
/*}*/

/*nav a {*/
/*    color: #F5F0F6;*/
/*    text-decoration: none;*/
/*    padding: 1.25rem;*/
/*}*/

/*nav a:hover {*/
/*    background-color : #F5F0F6;*/
/*    color: #2B4162;*/

/*    padding: 1.25rem;*/
/*    border-radius: 0.3rem;*/
/*}*/

/*header {*/
/*    background: #F5F0F6;*/
/*    height: 30rem;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.header-img {*/
/*    object-fit: cover;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin-top: 0;*/
/*}*/

    .bg-img {
        background-image: url("header-building.jpg");
        min-height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .container {
        position: absolute;
        margin: 15px 15px 15px 5px;
        width: auto;
    }

    nav {
        height: 3.5rem;
        display: flex;
        text-decoration: none;
    }

    nav h1 {
        color: #F5F0F6;
        font-size: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-right: 2rem;
        font-weight: bold;
        border-right: 2px solid #F5F0F6;
    }

    nav ul {
        display: flex;
        list-style: none;
        margin-left: auto;
        padding-right: 1rem;
        padding-top: 0.80rem;
    }

    nav a {
        color: #F5F0F6;
        text-decoration: none;
        padding: 1.25rem;
    }

    nav a:hover {
        background-color : #F5F0F6;
        color: #2B4162;

        padding: 1.25rem;
        border-radius: 0.3rem;
    }








